
@model IEnumerable<Loja.Models.Produtos>
@{
    ViewData["Title"] = "FilterSideMenu";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section FilterSideMenu{
    foreach(var item in Model){
        <div>
            TESTE
        </div>
    }
}